<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Maven Test Suite" verbose="1">
    <parameter name="url" value="https://globalsqa.com/angularJs-protractor/BankingProject/#/login"></parameter>
    <parameter name="timeout.duration" value="20"></parameter>
    <test name="Test Groups">
        <classes>
            <class name="XYZbankTest"></class>
        </classes>
    </test>
</suite>